[mumbleclient]
host = 127.0.0.1
user = someuser
channel = Mumble Server
output = plughw:1
input = plughw:1
bitrate = 48000
periodsize = 1920
# Mono, pymumble propably does not support stereo
channels = 1
bandwith = 200000
# Debug 0 or 1
debug = 0

[general]
button = 4
gpiotype = BCM
